
# Dependencies
/node_modules
/src/ai/node_modules

# Build artifacts
/.next/
/out/
/build/
/src/ai/lib/

# IDE and environment specific
.idx/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.*
.env.local
.env
